<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4" th:fragment="navbar">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/hospital/lista}">Hospital</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/doctor/lista}">Doctores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/paciente/lista}">Pacientes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>